<%- include('../partials/header') %>


<!-- 
<div class="show-container">
    <img src='https://images.unsplash.com/photo-1561892608-9a4c0e4780c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80' class="selector-img" alt="">
    <p>Puppies are wonderful</p>
    <div class="selector-warm">&#x1F60D;</div>
    
</div> -->
<div id="show" class="show-container">

        <!-- image: String,
        emoticon: String,
        comment: String -->
<h1 class="show-header">
    Bubbles
</h1>
        
  <% emos.forEach(function(emo) { %>

    <form action="" method="post">

  <img class="show-img" src="/images/img-<%= emo.image %>.jpeg">
  
  
  <div class="show-emoticon"><%= emo.emoticon %></div>

  
  <div class="show-comment"><%= emo.comment %></div>

  <!-- <input type="submit" value="Delete" class="show-button"> -->


  <a href="emos/new/">Snorkel Again</a> 
  
</form>

    <form action="/emos/<%= emo._id %>/edit" method="GET">

        <input type="submit" value="Edit" class="edit-button">
  
    </form>


    <form action="/emos/<%= emo._id %>?_method=DELETE" method="POST">

  <input type="submit" value="Delete" class="show-button">

    </form>
</div> 

<% }) %>

<%- include('../partials/footer') %>